<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>U-MAD?</title>

</head>

<body>
  <% if (error) { %>
    <p style="color: red;">
      <%= error %>
    </p>
    <% } %>
      <form action="/login" method="post">
        <label for="fname">E-mail :</label><br>
        <input type="text" name="email"><br>
        <label for="lname">Password:</label><br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Login">
      </form>
</body>

</html>